*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

.card__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.card__box {
  padding: 0.2em;
}
.card__img {
  width: 370px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 25%;
     object-position: 100% 25%;
}
.card__text-box {
  padding: 0.4em 2.1em;
}
.card__text-box h1 {
  margin: 1em 0;
  font-size: 1.4rem;
}
.card__text-box p {
  font-size: 1.2rem;
  color: hsl(214, 17%, 51%);
  text-align: left;
}
.card__person-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 100%;
}
.card__human {
  width: 15%;
  border-radius: 50%;
}
.card__person-data {
  display: flex;
  align-items: center;
  z-index: 1;
}
.card__person-text {
  margin-left: 1em;
}
.card__person-text h2 {
  font-size: 1.4rem;
}
.card__person-text p {
  font-size: 1.2rem;
  color: hsl(212, 23%, 69%);
}
.card__share-btn {
  background-color: hsl(210, 46%, 95%);
  color: hsl(214, 17%, 51%);
  border: none;
  border-radius: 50%;
  z-index: 4;
  cursor: pointer;
}
.card__share-btn-bg {
  background-color: hsl(214, 17%, 51%);
}
.card__share {
  padding: 0.6em;
}
.card__currentcolor-share {
  color: #fff;
}
.card__svg-box {
  position: absolute;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  height: 100%;
  width: 100%;
  background-color: hsl(217, 19%, 35%);
  transition: all 0.3s;
  z-index: 2;
}
.card__svg-box-block {
  display: flex;
}
.card__bottom-block {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid hsl(217, 19%, 35%);
  transform: translate(-20%, 90%);
  z-index: 5;
}
.card__svg-box p {
  padding: 0 0.2em;
  color: hsl(214, 17%, 51%);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.card__svg-item {
  margin: 0 0.4em;
  cursor: pointer;
}

@media (min-width: 375px) {
  .card__boxes {
    width: 370px;
  }
  .card__text-box h1 {
    font-size: 2rem;
  }
  .card__text-box p {
    font-size: 1.6rem;
  }
  .card__person-text h2 {
    font-size: 1.8rem;
  }
  .card__person-text p {
    font-size: 1.4rem;
  }
  .card__svg-box p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1440px) {
  .card__boxes {
    flex-direction: row;
    height: 350px;
    width: 780px;
    overflow: visible;
  }
  .card__img {
    height: 100%;
    width: 300px;
    -o-object-position: 30% 25%;
       object-position: 30% 25%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .card__text-box {
    padding-top: 1em;
  }
  .card__text-box h1 {
    font-size: 2.4rem;
  }
  .card__text-box p {
    font-size: 1.6rem;
  }
  .card__person-box {
    justify-content: flex-start;
    justify-content: space-between;
  }
  .card__person-text {
    margin-left: 2em;
  }
  .card__person-text h2 {
    font-size: 1.8rem;
  }
  .card__person-text p {
    font-size: 1.4rem;
  }
  .card__share-btn {
    color: hsl(214, 17%, 51%);
    padding: 0.4em;
    background-color: hsl(210, 46%, 95%);
  }
  .card__share-btn-bg {
    background-color: hsl(217, 19%, 35%);
  }
  .card__svg-box {
    justify-content: center;
    height: 70px;
    width: 250px;
    border-radius: 15px;
    transform: translate(110%, -130%);
  }
  .card__ .card__svg-item {
    width: 25px;
  }
  .card__svg-box p {
    margin-right: 1em;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */